@import url("https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");

:root {
  --rouge_roulette: #ac151c;
  --noir_roulette: #000000;
  --rouge: #710c1e;
  --rouge_fonce: #4b080f;
  --vert: #014432;
  --vert_fonce: #042222;
  --blanc: #fff8eb;
  --or: #cd994e;
  --gris: #333;
  --font_family: "Arial", sans-serif;
  --font_h1: "Notable", sans-serif;
  --font_h2: "Trirong", serif;
}

body {
  margin: 50px auto 0 auto;
  max-width: 1200px;
  background-color: var(--blanc);
  min-height: 100vh;
  font-family: var(--font_family);
}

h1 {
  font-family: var(--font_h1);
  font-weight: 400;
  font-style: normal;
  color: var(--blanc);
  font-size: 5em;
}
.roulette-rules h1 {
  color: var(--blanc);
  font-size: 50px;
}

.roulette-rules h3 {
  color: var(--blanc);
  font-size: 32px;
  font-family: var(--font_h1);
}
.roulette-rules {
  color: var(--blanc);
  padding-top: 20px;
}

h2 {
  font-family: var(--font_h2);
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: var(--blanc);
  width: fit-content;
  position: fixed;
  top: 0;
  right: 30px;
  padding: 20px;
  border-radius: 0 0 20px 20px;
}

header a {
  text-decoration: none;
    color: var(--vert_fonce);
    font-family: var(--font_h2);
    font-weight: 900;
    font-size: 18px;
}
header nav {
    display: flex;
    gap:30px;
}


.connexion-container {
    display: flex;
    flex-direction: column;
}
.connexion-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.connexion-container input, .connexion-container button {
    padding: 10px 14px;
}

.connexion-container a {
    text-decoration: none;
    color: var(--blanc);
    margin-top: 40px;
}

.connexion-container input, input:-internal-autofill-selected {
    background-color: var(--vert) !important;
}
.connexion-container input::placeholder {
    color: var(--blanc);
}
.connexion-container button {
    font-family: var(--font_h2);
    color: var(--vert_fonce);
    font-weight: 900;
    cursor: pointer;
}