{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Roulette</title>
    <link rel="stylesheet" href="{% static 'css/roulette_style.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Accueil</a>
        <a href="/regles">Règles</a>
        <a href="/">Classement</a>
      </nav>
    </header>
    <h1>Faites vos jeux</h1>

    <div class="rouletteTapis">
      <div class="rouletteMise-container">
        <div class="roulette-container">
          <div class="wheel-wrapper">
            <div class="wheel" id="roulette-wheel">
              <div class="outerRim"></div>
              <!-- les 37 secteurs seront injectés en JS -->
              <div class="pocketsRim"></div>

              <div class="ballTrack" id="ball-track">
                <div class="ball" id="roulette-ball"></div>
              </div>

              <div class="pockets"></div>
              <div class="cone"></div>
              <div class="turret"></div>
              <div class="turretHandle">
                <div class="thendOne"></div>
                <div class="thendTwo"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="panneau">
          <div class="chiffres">
            <div>
              <img
                class="money"
                src="../../static/img/money.png"
                alt="money icone"
              />
              <p><span id="balance-value">{{ balance }}</span> €</p>
            </div>
            <div>
              <img
                class="money"
                src="../../static/img/jeton-mise.png"
                alt="Mise icone"
              />
              <p><span id="total-bet">0</span> €</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tapis-container">
        <div id="tapis"></div>
        <p>Numéro gagnant : <span id="result-number">–</span></p>
        <div class="jetons">
          <div class="chips">
            <button class="chip" data-value="1">
              <img src="../../static/img/jeton1.png" alt="Jeton 1" />
            </button>
            <button class="chip" data-value="5">
              <img src="../../static/img/jeton5.png" alt="Jeton 5" />
            </button>
            <button class="chip" data-value="10">
              <img src="../../static/img/jeton10.png" alt="Jeton 10" />
            </button>
            <button class="chip" data-value="25">
              <img src="../../static/img/jeton25.png" alt="Jeton 25" />
            </button>
          </div>
          <button
            id="clear-bets-button"
            class="icon-button"
            title="Effacer les mises"
          >
            <img src="../../static/img/again.png" alt="Icone again" />
          </button>
          <button id="spin-button">Lancer</button>
        </div>
      </div>
    </div>

    <!-- pop-up résultat -->
    <div id="result-modal" class="result-modal hidden">
      <div class="result-modal-content">
        <p>Numéro gagnant : <span id="modal-number"></span></p>
        <p>Gain : <span id="modal-win"></span> €</p>
        <button id="modal-close">OK</button>
      </div>
    </div>

    {% csrf_token %}
    <script>
      window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    <script src="{% static 'casino_app/tapis.js' %}"></script>
    <script src="{% static 'casino_app/roulette.js' %}"></script>
    <script src="{% static 'casino_app/bets.js' %}"></script>
  </body>
</html>
