{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Roulette</title>
    <link rel="stylesheet" href="{% static 'css/roulette_style.css' %}" />
  </head>
  <body>
    <h1>Faites vos jeux</h1>
    <div class="rouletteTapis">
      <div class="roulette-container">
        <div class="arrow"></div>
        <div class="roulette" id="roulette"></div>
      </div>
      <div class="tapis-container">
        <div id="tapis"></div>
        <p>Numéro gagnant : <span id="result-number">–</span></p>
      </div>
    </div>

    <script src="{% static 'casino_app/tapis.js' %}"></script>
    <script src="{% static 'casino_app/roulette.js' %}"></script>
  </body>
</html>
